/* .navbar{
  height: 60px;
  background-color: rgb(244, 154, 169);
  display: flex;
  justify-content: center;

}
/* 
.navbarContainer{
  width: 100%;
  max-width: 1024px;
  color: rgb(189, 27, 138);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 1000;
} */
 */
