.navbar{
  height: 60px;
  background-color: rgb(244, 154, 169);
  display: flex;
  justify-content: center;

}

.navbarContainer{
  width: 100%;
  max-width: 1024px;
  color: rgb(189, 27, 138);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 1000;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 6px 11px;
  cursor: pointer;
  color: rgb(218, 35, 22);
}

.header{
  background-color: rgb(232, 136, 67);
  color: azure;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer{
  width: 100%;
  max-width: 1000px;
  margin:20px 0px 50px 0px ;
}

.headerContainer.listMode{
  margin:20px 0px 0px 0px ;

}

/* .headerList{
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
} */

.headerItem{
  display: block;
  align-items: center;
  gap: 10px;
}

.headerItem.active{
  border: 1px solid rgb(225, 213, 213);
  padding: 10px;
  border-radius: 20px;
}

.description{
  margin: 20px 0px;
}

.headerBtn{
  background-color: rgb(126, 13, 13);
  color: floralwhite;
  font-weight: 400;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerSearch{
  height: 30px;
  background-color: gray;
  border: 3px solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon{
  color: lightcoral;
}

.headerSearchItem{
  display: flex;
  align-items: center;
  gap:1 0px;
}

.headerSearchInput{
  border: none;
  outline: none;
}

.headerSearchText{
  color: aqua;
  cursor: pointer;
}

.date{
  position: absolute;
  top: 50px;
}
.options{
  position: absolute;
  top: 50px;
  background-color: antiquewhite;
  color: brown;
  border-radius: 5px;
  box-shadow: 0lvi;
}

.optionItem{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.optionCounter{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.optionCounterButton{ 
  width: 35px;
  height: 35px;
  border: 1px solid red;
  color: rgb(183, 63, 63);
  cursor: pointer;
}

.optionCounterButton:disabled{
  cursor: not-allowed;
}






.footer {
  width: 100%;
  width: 1000px;
  font-size: 12px;
  background-color:pink;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList{
  list-style-type: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color:purple ;
  cursor: pointer;
}

.text{
  justify-content: center;
  font-size: 15px;
}
  
  
  

